*{
	background-color:black;
	margin:0px;
	}
	
.head{
	background:var(--bg-dark,#0E0E15);
	margin:0px 90px;
	height:150px;
	border-bottom:solid 2px red;
	}
.head1{
	background:var(--bg-dark,#0E0E15);
	height:100px;

}
 .head2{
 	background:var(--bg-dark,#0E0E15);
	height:35px;
 }
 .head3{
 	background:var(--bg-dark,#0E0E15);
	height:80px;
 }
 .logo{
 	height:"72px";
 	width:"80px";
 	background:var(--bg-dark,#0E0E15);
 	margin-left:"80px";
 
 }
 .text1{
 	background:var(--bg-dark,#0E0E15);
	color: var(--text, #F3F3F3);
	font-size: 40px;
	font-family: Karantina;
	font-style: normal;
	font-weight: 400;
	line-height: 48px;
	text-transform: capitalize;
	position:relative;
	bottom:10px;
}
 .text2{
 	background:var(--bg-dark,#0E0E15);
 	color: var(--text, #F3F3F3);
	font-size: 20px;
	font-family: Kanit;
	font-style: normal;
	font-weight: 400;
	line-height: 150%;
	text-transform: capitalize;
	position:relative;
	bottom:10px;
	margin-left:500px;

}
.text3{
 	background:var(--bg-dark,#0E0E15);
 	color: var(--text, #F3F3F3);
	font-size: 20px;
	font-family: Kanit;
	font-style: normal;
	font-weight: 400;
	line-height: 150%;
	text-transform: capitalize;
	position:relative;
	bottom:10px;
	margin-left:20px;

}
 .head4{
 	background:var(--bg-dark,#0E0E15);
	height:35px;
	border-bottom:solid 2px red;
 }
 .head5{
 	background:var(--bg-dark,#0E0E15);
	height:50px;
	/*bottom:20px;
	border-bottom:solid 2px red;*/
}


.movie_row{
	height:500px;
	border:solid 0px red;
	background:var(--bg-dark,#0E0E15);
	margin:0px 90px;

}

.form1{
	height:350px;
	border:solid 1px red;
	background:var(--bg-dark, #0E0E15);
	margin:0px 90px;
}
.form2{
	height:40px;
	background:var(--bg-dark, #0E0E15);
	
}
.form3{
	height:40px;
	background:var(--bg-dark, #0E0E15);

	}
.form4{
	height:80px;
	background:var(--bg-dark, #0E0E15);
}
.inner_form1{
	height:30px;
	background:var(--bg-dark, #0E0E15);
}
.inner_text1{
	color: var(--text, #F3F3F3);
	font-size: 20px;
	font-family: Kanit;
	font-style: normal;
	font-weight: 400;
	line-height: 150%;
	text-transform: capitalize;
	background:var(--bg-dark, #0E0E15);
	margin-left:100px;



}
.inner_text2{
	color: var(--text, #F3F3F3);
	font-size: 12px;
	font-family: Kanit;
	font-style: normal;
	font-weight: 400;
	
	
	text-transform: capitalize;
	background:var(--bg-dark, #0E0E15);
	margin-left:100px;

}
.inner_form2{
	height:20px;
	background:var(--bg-dark, #0E0E15);
}
.inner_form3{
	height:30px;
	background:var(--bg-dark, #0E0E15);
}
.form5{
	height:52px;
	background:var(--bg-dark, #0E0E15);
}

.inner_form4{
	height:50px;
	width:150px;
	border:solid 1px red;
	background:var(--bg-dark, #0E0E15);
	margin:0px 10px 0px 0px;
	margin-left:100px;
	background: var(--accent-red, #F85146);

}
.inner_text3{
	color: var(--text, #F3F3F3);
	font-size: 20px;
	font-family: Kanit;
	font-style: normal;
	font-weight: 400;
	line-height: 150%;
	text-transform: capitalize;
	background:var(--bg-dark, #0E0E15);
	margin-left:0px;
	position:relative;
	bottom:10px;
	background: var(--accent-red, #F85146);

}
.frame{
	background: var(--accent-red, #F85146);
	height:40px;
	width:40px;
	margin-left:5px;
	position:relative;
	top:5px;
}
.form5{
	height:80px;
	background:var(--bg-dark, #0E0E15);
}


 
 .footer{
 	height:150px;
 	background: var(--bg-secondary, #272734);
 	margin:0px;
}
.footer1{
	height:45px;
	background:var(--bg-secondary,#272734);
	margin:0px ;

}
.footer2{
	height:70px;
	background:var(--bg-secondary,#272734);
	margin:0px ;

}
.img1{
	height:28px;
	width:128px;
	background:var(--bg-secondary,#272734);
	margin-left:150px;
	position:relative;
	top:0px;
}	
.text4{
	color: #F3F3F3;
	font-size: 25px;
	font-family: Karantina;
	font-style: 42px;
	font-weight: 300;
	line-height: normal;
	letter-spacing: 0.56px;
	position:relative;
	bottom:2px;
	margin-left:"10px";
	background:var(--bg-secondary,#272734);

}
.text5{
	color:#F85146;
	font-size: 28px;
	font-family: Karantina;
	font-style: normal;
	font-weight: 300;
	line-height: normal;
	letter-spacing: 0.56px;
	position:"relative";
	bottom:"10px";
	margin-left:"10px";
	background:var(--bg-secondary,#272734);

}
.text6{
	color:white;
	position:relative;
	top:30px;
	margin-left:110px;
	background:var(--bg-dark,#0E0E15);
}

.footer3{
	height:35px;
	background:var(--bg-secondary,#272734);
	margin:0px ;

}
.movie_image{
	height:400px;
	background:var(--bg-secondary,#272734);
	margin:0px 90px;
	position:relative;
	top:80px;
	border:solid 1px red;
	border-bottom:solid 2px blue;
	

}
.image1{
 	height:300px;
 	width:200px;
 	background:var(--bg-secondary,#272734);
 	position:relative;
	top:45px;
	border:solid 1px red;
	margin:0px 0px 0px 10px;
}
.box1{
	height:300px;
	width:680px;
	margin-left:220px;
	border:solid 1px red;
	position:relative;
	bottom:260px;
	background:var(--bg-secondary,#272734);
}
.inner_box2{
	height:40px;
	width:680px;
	border:solid 1px red;
	background:var(--bg-secondary,#272734);
}
.inner_box3{
	height:30px;
	width:680px;
	border:solid 1px red;
	background:var(--bg-secondary,#272734);
}
.text8{
	color: white;
	font-size: 30px;
	font-family: Karantina;
	font-style: normal;
	font-weight: 300;
	line-height: normal;
	letter-spacing: 0.56px;
	position:"relative";
	bottom:"10px";
	margin-left:"110px";
	background:var(--bg-secondary,#272734);

}
.text9{
	background:var(--bg-secondary,#272734);
	color: var(--text, #F3F3F3);
	font-family: Kanit;
	font-size: 12px;
	font-style: normal;
	font-weight: 300;
	line-height: 120%;
	text-transform: capitalize;
	position:relative;
	bottom:5px;
}
.like{
	height:50px;
	width:150px;
	border:solid 1px red;
	background:var(--bg-secondary,#272734);
	margin-left:400px;
	position:relative;
	bottom:124px;
}
.like1{
	height:40px;
	background:var(--bg-secondary,#272734);
	position:relative;
	bottom: 120px;
    margin-left: 410px;
}


.unlike1{
	height:40px;
	background:var(--bg-secondary,#272734);
	position:relative;
	bottom: 200px;
    margin-left: 505px;
}

.rating{
	border:solid 1px red;
	height:40px;
	width:50px;
	margin-left: 450px;
    position: relative;
    bottom: 160px;
	border-radius: 32px;

}
.rating1{
	color:white;
	font-family: ABeeZee;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	border:solid 1px red;
	width:30px;
	margin-left: 18px;
    height: 30px;
    position: relative;
    top: 10px;
	}
.delete{
	width:50px;
	height:40px;
	background:var(--bg-secondary,#272734);
	position:relative;
	bottom:245px;
	margin-left:1030px;
	border:solid 1px red;
	
	
	
}
.delete1{
	height:40px;
	width:40px;
	background:var(--bg-secondary,#272734);
	

}
.inner_box4{
	height:30px;
	width:680px;
	border:solid 1px red;
	background:var(--bg-secondary,#272734);
}

.inner_box5{
	height:90px;
	width:680px;
	border:solid 1px red;
	background:var(--bg-secondary,#272734);
}
.text10{
	background:var(--bg-secondary,#272734);
	color: var(--text, #F3F3F3);
	font-family: Kanit;
	font-size: 25px;
	font-style: italic;
	font-weight: 300;
	line-height: 120%;
	text-transform: capitalize;
	
}
.text11{
	background:var(--bg-secondary,#272734);
	color: var(--text, #F3F3F3);
	font-family: Kanit;
	font-size: 15px;
	font-style: italic;
	font-weight: 300;
	line-height: 120%;
	text-transform: capitalize;
	
}

